.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
  border: 1px solid #333;

  transition: border 0.3s ease;

  &:hover {
    border-color: #aaa;
  }
}

.header {
  margin-bottom: 20px;
}

.body {
  width: 100%;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
}

.date {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-size: 1.3rem;
  line-clamp: 2;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.8);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}