.root {
  display: flex;
  justify-content: space-between;
  padding: 40px;

  border: 2px solid #444;

  transition: all 0.3s ease;

  &:hover {
    background-color: #232323;
    border-color: transparent;
  }

  .body {
    margin-left: 40px;
  }
  .date {
    margin-bottom: 30px;
  }
  .title {
    margin-bottom: 20px;
  }
}

.header {
  width: 60%;
}

.body {
  flex: 1;
  margin-left: 40px;
}

.date {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.8);
}

.thumbnail {
  width: 100%;
  object-fit: cover;
}

.upload {}