.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 15vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);

  font-size: 1.3rem;
}

.logo {
  a {
    text-decoration: line-through;
    letter-spacing: 0.2rem;
  }
}

.navigation {
  a + a {
    margin-left: 10px;
  }
}